<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>MyFirstServlet</servlet-name>
        <servlet-class>com.anotites.servlets.FirstServletFrom8</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyFirstServlet</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MySecondServlet</servlet-name>
        <servlet-class>com.anotites.servlets.FirstServletFrom9</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MySecondServlet</servlet-name>
        <url-pattern>/second</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>My3Servlet</servlet-name>
        <servlet-class>com.anotites.servlets.ServletFrom10</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>My3Servlet</servlet-name>
        <url-pattern>/name</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>My4Servlet</servlet-name>
        <servlet-class>com.anotites.servlets.ServletFrom11</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>My4Servlet</servlet-name>
        <url-pattern>/browser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>My5Servlet</servlet-name>
        <servlet-class>com.anotites.servlets.ServletFrom12</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>My5Servlet</servlet-name>
        <url-pattern>/count</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>My6Servlet</servlet-name>
        <servlet-class>com.anotites.servlets.ServletFrom13</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>My6Servlet</servlet-name>
        <url-pattern>/countCookie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>My7Servlet</servlet-name>
        <servlet-class>com.anotites.servlets.ServletFrom14</servlet-class>
        <init-param>
            <param-name>dbURL</param-name>
            <param-value>jdbc:mysql://localhost:3306/ListExpenses</param-value>
        </init-param>
        <init-param>
            <param-name>username</param-name>
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value/>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>My7Servlet</servlet-name>
        <url-pattern>/payments</url-pattern>
    </servlet-mapping>
</web-app>




